<%= nested_form_for @beverage do |f| %>

  <%= render 'shared/error_messages', object: f.object %>

  <fieldset>

    <div class="row">
      <div class="large-3 columns">
        <%= f.label :category %>
        <%= f.collection_select(:beverage_category_id, BeverageCategory.all, :id, :name , {include_blank: 'Select Category'} ) %>
      </div>
      <div class="large-3 columns">
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: 'Type the name...' %>
      </div>
      <div class="large-3 columns">
        <%= f.label :glass %>
        <%= f.select :glass, [:Catalina, :Collins, :Flute, :Pint, :Rocks, :Tin], {include_blank: 'Select Glass'}%>
      </div>
      <div class="large-3 columns">
        <%= f.label :garnish %>
        <%= f.text_field :garnish, placeholder: 'Type the garnish...' %>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'fix_row', rows: 5,  placeholder: 'Type the description...'  %>
      </div>
      <div class="large-6 columns">
        <%= f.label :method %>
        <%= f.text_area :method, class: 'fix_row', rows: 5,  placeholder: 'Type the method...'  %>
      </div>
    </div>


  </fieldset>

  <fieldset>

    <legend>Recipe</legend>

    <%= f.fields_for :recipes do |item| %>
    <div class="row">
      <div class="large-6 columns">
        <%= item.label :product %>
        <%= item.grouped_collection_select(:product_id, ProductCategory.all, :products, :name, :id, :display_details, {include_blank: 'Select Product'}) %>
      </div>
      <div class="large-6 columns">
        <%= item.label :quantity %>
        <div class="row collapse">
          <div class="large-6 columns">
            <%= item.text_field :quantity %>
          </div>
        <div class="large-2 columns">
          <span class="postfix">ML/Unit</span>
        </div>
          <div class="large-4 columns">
            <%= item.link_to_remove 'Remove', class: 'tiny alert button right round' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.link_to_add 'Add a product', :recipes, class: 'tiny secondary button round' %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.submit class: 'small button right round' %>
      </div>
    </div>

  </fieldset>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= link_to 'Back to Beverages', beverages_path, class: 'small button secondary' %>
  </div>
</div>