<h1>Listing Purchases</h1>
<div class="row collapse">
  <%= form_tag purchases_path, method: :get do %>
  <div class="large-offset-8 large-3 columns small-8">
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div class="large-1 columns small-4">
    <%= submit_tag "Search", name: nil, class: 'button postfix' %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th><%= link_to "Date", sort: 'date' %></th>
          <th><%= link_to "No", sort: 'no' %></th>
          <th><%= link_to "Supplier", sort: 'supplier_id' %></th>
          <th><%= link_to "Venue", sort: 'venue_id' %></th>
          <th class="text-right">Products</th>
          <th class="text-right">Total Items</th>
          <th class="text-right">Amount (£)</th>
          <th colspan="2"></th>
         </tr>
      </thead>

      <tbody>
        <% @purchases.each do |purchase| %>
        <tr>
          <td><%= purchase.date.strftime('%d/%m/%Y') %></td>
          <td><%= link_to purchase.no, purchase_path(purchase) %></td>
          <td><%= purchase.supplier.name %></td>
          <td><%= purchase.venue.name %></td>
          <td class="text-right"><%= purchase.purchase_lines.count %></td>
          <td class="text-right"><%= number_with_precision(purchase.items, precision: 0) %></td>
          <td class="text-right"><%= number_with_precision(purchase.total, precision: 2, delimiter: ',') %></td>
          <td class="text-right"><%= link_to 'Edit', edit_purchase_path(purchase), class: 'tiny button secondary round' %></td>
          <td class="text-right"><%= link_to 'Delete', purchase, method: :delete, data: { confirm: "Purchase #{purchase.no} will be deleted. Are you sure?" }, class: 'tiny button alert round' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns text-right">
    <%= link_to 'New Purchase', new_purchase_path, class: 'small button round' %>
  </div>
</div>
