<h1>Listing Products</h1>
<div class="row collapse">
  <%= form_tag products_path, method: :get do %>
  <div class="large-offset-8 large-3 columns small-8">
    <%= text_field_tag :search, params[:search] %>
  </div>
  <div class="large-1 columns small-4">
    <%= submit_tag "Search", name: nil, class: 'button postfix' %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <table>
      <thead>
        <tr>
          <th><%= link_to "Name", sort: 'name' %></th>
          <th>Description</th>
          <th>Quantity/Measure</th>
          <th><%= link_to "Category", sort: 'product_category_id' %></th>
          <th colspan="2"></th>
         </tr>
      </thead>

      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.quantity == 0 ? product.name : (link_to product.name, product_path(product)) %></td>
          <td><%= simple_format(product.description) %></td>
          <td><%= product.quantity == 0 ? '-' : "#{product.quantity} #{product.measure}" %></td>
          <td><%= product.product_category.name %></td>
          <td class="text-right"><%= link_to 'Edit', edit_product_path(product), class: 'tiny button secondary round' %></td>
          <td class="text-right"><%= link_to 'Delete', product, method: :delete, data: { confirm: "Product #{product.name} will be deleted. Are you sure?" }, class: 'tiny button alert round' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="large-12 columns text-right">
    <%= link_to 'New Product', new_product_path, class: 'small button round' %>
  </div>
</div>
