
  <ul class="title-area">
    <!-- Title Area -->
    <li class="name">
      <h1><%= link_to 'Lost Group', root_path %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Left Nav Section -->
    <% unless current_user.nil? %>
    <ul class="left">
      <li class="divider"></li>
      <% if current_user.director? %>
        <%= render 'layouts/nav/director' %>
      <% end %>
      <% if current_user.manager? %>
        <%= render 'layouts/nav/manager' %>
      <% end %>
      <% if current_user.supervisor? %>
        <%= render 'layouts/nav/supervisor' %>
      <% end %>
      <li><%= link_to 'Specs', spec_beverages_path %></li>
    </ul>
    <% end %>
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-form">
        <%= link_to 'Logout', logout_path, class: 'button round' unless current_user.nil? %>
      </li>
    </ul>
  </section>
