<!DOCTYPE html>
<html>
<head>
  <title>Lostgroup</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<section class="container-fluid">
  <% flash.each do |key, value| %>
    <div data-alert class="alert-box <%= key == :notice ? 'success' : 'alert' %>">
      <%= value %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>
  <%= yield %>
</section>

</body>
</html>
